body {
    font-family: 'Konkhmer Sleokchher', sans-serif;
}

strong {
    color: #ec456a;
}

.btn-mostrar:hover {
    background-color: #ec456a;
    border-color: #ec456a;
}

#img_logoLetras {
    width: 200px;
}

.caja {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-cerrar-sesion {
    margin-top: 20px;
}

h3 {
    color: #ec456a;
}
